Source: qmmp-in-ffmpeg
Section: sound
Priority: optional
Maintainer: Ilya Kotov <iokotov@astralinux.ru>
Build-Depends: debhelper (>= 9), cmake, yasm, pkg-config,
  qmmp (>= 1.4.0), qtbase5-dev (>= 5.4),
  qttools5-dev-tools (>= 5.4), qttools5-dev (>= 5.4), qtchooser,
  libavcodec-dev (>= 7:2.8.0), libavformat-dev (>= 7:2.8.0), libavutil-dev (>= 7:2.8.0)
Standards-Version: 3.9.3
Homepage: http://qmmp.ylsoftware.com

Package: qmmp-in-ffmpeg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libqt5sql5-sqlite
Description: FFmpeg decoder for Qmmp (for Ubuntu 16.04 only)
